#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-bottom:100px;
}

.NavBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.card.set-card {
  width: 292px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.set-title {
  font-size: 24px;
  font-weight: bold;
  user-select: none;
}

.card.flashcard {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 292px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  perspective: 1000px;
}

.card.flashcard .front,
.card.flashcard .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgb(255, 251, 246);
  border: 1px solid #ccc;
  border-radius: 8px;
}

.flashcard.flipped {
  transform: rotateY(180deg); 
}

.flashcard .back {
  transform: rotateY(180deg); 
}

.flashcard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  margin-bottom: 20px;
}

.disable-animation .flashcard {
  transition: none;
}

.flashcard-container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  padding:40px;
}

.flashcard-container .flashcard{
  width: 467px;
  height: 240px;
}
.flashcard-container .set-title {
  font-size: 38.4px;
}

.practice-container {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  width: 150px;
  height: 50px;
}

.card img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.delete-button {
  background: transparent;
  border: none; 
  cursor: pointer; 
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}

.practice-container .delete-button {
  display: none;
}